<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Batalhar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Batalhar</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{this.pokemon.name | uppercase}}</ion-card-title>
      <ion-img alt="" [src]= "this.pokemon.imageURL" class="img" ></ion-img>
      <ion-item [color] = "this.cor">
        <ion-input ></ion-input>
        {{this.resultado}}
      </ion-item>

    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>{{
          'Abilities: ' + this.pokemon.abilities
        }}</ion-item>
        <ion-item>{{
           'Height: ' + this.pokemon.height
        }}</ion-item>
        <ion-item>{{
          'Weight: ' + this.pokemon.weight
        }}</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-button
      expand="block"
      fill="solid"
      *ngIf = "this.btnBatalha"
      (click)="batalhaPokemon()"
      >
      Batalhar Pokémon

    </ion-button>

    <ion-button
      expand="block"
      fill="solid"
      *ngIf = "this.btnBusca"
      (click)="buscarPokemon()"
      >
      Busque o próximo oponente

    </ion-button>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
